body{margin:0px;}
/* nav 樣式設定*/
nav{
    display:flex;
}
nav>.logo{
    /* 沒有彈性，固定尺寸*/
    flex:none;width:100px;
    background-color: #ffcccc;
}
nav>.menu{
    /* 盡量把容器的空間張滿*/
    flex:auto;
    background-color:#ccccff;
}
nav>.user{
    flex:none;width:100px;
    background-color:#ccffcc;
}
/* main 樣式設定 */
main{ /* 容器 */
    display:flex;
    justify-content:center /*水平對齊*//*靠左:fiex-start,靠右:flex-end */;
    align-items:center /*垂直對齊*//*預設:stretch，其他項目憶起延展*//*靠上:fiex-start,靠下:flex-end */;
    background-color:#cccccc;
}
main>.item{ /* 項目 */
    flex:none  /*固定尺寸*/;
    width:300px;margin:10px;
    background-color:#ffcccc;
}